<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <base href="/">
    <title>SF3Core Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="sienn.com"/>
    <meta name="description" content="sf3core Admin Panel"/>
    <meta name="keywords" content="sf3core Admin Panel"/>
    <meta name="robots" content="noindex"/>

    <link rel="stylesheet" type="text/css" href="/resources/styles/fonts.css">

    {% stylesheets
        'resources/styles/bootstrap.min.css'
        'resources/styles/font-awesome.min.css'
        'resources/styles/AdminLTE.min.css'
        'resources/styles/skin-blue.min.css'
        'resources/styles/pace.min.css'
        'resources/styles/blue.css'
        'resources/styles/admin.css'
        filter='cssrewrite' output='resources/styles/compiled/cms.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>

<body class="{{ app.request.get('_route') in ['fos_user_security_login', 'fos_user_security_check', 'fos_user_resetting_request', 'fos_user_resetting_send_email'] ? 'hold-transition login-page' : 'hold-transition skin-blue fixed sidebar-mini' }}">
<div id="wrapper">
    {% block header %}
        {% include 'layout/admin-header.html.twig' %}
    {% endblock %}
    {% block sidebar %}
        {% include 'layout/admin-left-sidebar.html.twig' %}
    {% endblock %}
    <div class="{{ app.request.get('_route') in ['fos_user_security_login', 'fos_user_security_check', 'fos_user_resetting_request', 'fos_user_resetting_send_email'] ? '' : 'content-wrapper' }}">
        <!-- Main content -->
        <section class="content">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
</div>

{% block javascripts %}
    {% javascripts
        'resources/scripts/vendor/jquery.min.js'
        'resources/scripts/vendor/bootstrap.min.js'
        'resources/scripts/vendor/humanize-duration.js'
        'resources/scripts/vendor/moment-with-locales.min.js'
        'resources/scripts/vendor/jquery.slimscroll.min.js'
        'resources/scripts/vendor/icheck.min.js'
        'resources/scripts/vendor/pace.min.js'
        'resources/scripts/vendor/main.js'
        'resources/scripts/vendor/app.min.js'
        output='resources/scripts/compiled/cms.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>

</html>