<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('dashboard') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>Core</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="#" alt="sf3core"></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/resources/images/avatar5.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ app.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/resources/images/avatar5.png" class="img-circle" alt="User Image">
                            <p>
                                {{ app.user.username }}
                                <small>Member since {{ app.user.signUpDate | date('F Y') }}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                {% if app.user and is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONFIGURATOR') %}
                                    <a href="{{ path('users-detail', {id: app.user.id}) }}"
                                       class="btn btn-default btn-flat">Profile</a>
                                {% endif %}
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('fos_user_security_logout') }}"
                                   class="btn btn-default btn-flat">Logout</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>