<div class="row">
    {% if pagination is defined %}
        <div class="col-sm-5">
            <div class="dataTables_info">
                <p>All: {{ pagination.getTotalItemCount }}</p>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endif %}
</div>