.main-header
  .logo-lg
    img
      width: 50px

.box-header
  .btn
    margin-left: 10px

.app-modal-window .modal-dialog
  width: 1210px
.fa-spinner
  text-align: center
  display: block
.delete-btn
  background-color: #9d0000
  border-color: #9d0000
  &:hover
    background-color: #801414
.edit-btn
  color: #fff !important

.buttonLabel
  line-height: 30px

.reset-btn
  margin-right: 15px

.bottom-buffer
  margin-bottom: 20px
.top-buffer
  margin-top: 20px

.list-loader
  display: block !important
  margin: 0 auto

.table > tbody > tr > td
  font-size: 15px
  line-height: 34px
  padding: 18px 20px
  border-top: none

.form-group
  input.form-control
    border: 1px solid #ccc
    box-sizing: border-box
    font-size: 14px
  select
    margin: 0

.page-header-margin
  margin: 0 !important

.page-header
  margin: 0 0 20px
  .btn-new, .btn-preview
    margin-top: -5px
    margin-right: 10px
    height: inherit
    font-family: 'Open Sans'
  h2
    margin: 0

.form-horizontal
  .control-label
    text-align: left
    margin-bottom: 0
    padding-top: 7px

.modal-body
  &.article
    img
      margin: 10px
      cursor: pointer
  .large-image
    width: 100%
    height: auto
  .article_text
    img
      width: 100%

.form-group input.form-control, select.form-control, .btn, textarea.form-control
  border-radius: 0
  -webkit-appearance: none

select.form-control
  background: url(/resources/images/dropdown-arrow.png) no-repeat right center

table.table
  thead
    tr
      th
        i.fa
          margin-left: 5px
          cursor: pointer
        &:nth-child(1)
          width: 1%
        &:nth-child(2)
          width: 1%
  tbody
    i.fa-check-circle
      color: #008000
    i.fa-minus-circle
      color: #FF0000
    .btn
      padding: 2px 7px
      width: 28px

ul.pagination
  margin: 0

.dataTables_info p
  padding: 5px 0 0 10px

.portal-header
  margin: 0
.multiselect-wrapper
  display: inline-block

.filters select[name='roles']
  width: 150px

dl
  padding: 15px
  dt
    margin-bottom: 10px

input[type="text"]::-webkit-input-placeholder
  line-height: normal