﻿@charset "utf-8";
/* CSS Document */

/***fonts***/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);


@import url("//hello.myfonts.net/count/313a6a");


@font-face {font-family: 'GalanoGrotesque-Bold';src: url('../fonts/GalanoGrotesqueBold/313A6A_0_0.eot');src: url('../fonts/GalanoGrotesqueBold/313A6A_0_0.eot?#iefix') format('embedded-opentype'), url("../fonts/GalanoGrotesqueBold/313A6A_0_0.otf") format("opentype"),url('../fonts/GalanoGrotesqueBold/313A6A_0_0.woff2') format('woff2'),url('../fonts/GalanoGrotesqueBold/313A6A_0_0.woff') format('woff'),url('../fonts/GalanoGrotesqueBold/313A6A_0_0.ttf') format('truetype');}

@font-face {
    font-family: 'MellowRegular';
    src: url('../fonts/mellow-regular-webfont.eot');
    src: url('../fonts/mellow-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/mellow-regular-webfont.woff') format('woff'),
            url('../fonts/mellow-regular-webfont.ttf') format('truetype'),
            url('../fonts/mellow-regular-webfont.svg#mellowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}