{% extends 'layout/admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">User #{% if user != null %}{{ user.id }}{% endif %}</h3>
                    <a class="btn btn-default pull-right btn-new" href="{{ path('users') }}"><i class="fa fa-reply"></i> Cancel</a>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-7">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                {{ form_label(form.firstName, 'First name', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    {{ form_errors(form.firstName) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.lastName, 'Last name', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    {{ form_errors(form.lastName) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.nickname, 'Nickname', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.nickname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    {{ form_errors(form.nickname) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>

                            {% for key, item in form.plainPassword.children %}
                                <div class="form-group">
                                    {{ form_label(item, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(item, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        {{ form_errors(item) }}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                {{ form_label(form.enabled, 'Enabled', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.enabled) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    {{ form_errors(form.enabled) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.gender, 'Gender', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="help-block">
                                        {{ form_errors(form.gender) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.roles, 'Role', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    {{ form_errors(form.roles) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.country, 'Country', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    {{ form_errors(form.country) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.birthday, 'Birthday', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.birthday, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    {{ form_errors(form.birthday) }}
                                </div>
                            </div>

                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-default pull-right">Save</button>
                            </div>
                            {% do form.avatar.setRendered %}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}