{% extends 'layout/admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">User #{{ user.id }}</h3>
                    <a class="btn btn-default pull-right btn-new" href="{{ path('users') }}"><i class="fa fa-reply"></i> Back</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="details">
                            <div class="row">
                                <div class="col-md-7">
                                    <dl class="dl-horizontal row user-details">
                                        <dt>First name</dt>
                                        <dd>{{ user.firstName|default('-') }}</dd>
                                        <dt>Last name</dt>
                                        <dd>{{ user.lastName|default('-') }}</dd>
                                        <dt>Nickname</dt>
                                        <dd>{{ user.nickname|default('-') }}</dd>
                                        <dt>Email</dt>
                                        <dd>{{ user.email }}</dd>
                                        <dt>Is enabled</dt>
                                        <dd>{{ user.enabled ? 'Yes' : 'No' }}</dd>
                                        <dt>Birthday</dt>
                                        <dd>{{ user.birthDay ? user.birthDay|date("Y-m-d") }}</dd>
                                        <dt>Gender</dt>
                                        <dd>{{ user.gender|genderName }}</dd>
                                        <dt>Country</dt>
                                        <dd>{{ user.country.name|default('-') }}</dd>
                                        <dt>Role</dt>
                                        <dd>{{ user.roles|first }}</dd>
                                        <dt>Sign up date</dt>
                                        <dd>{{ user.signUpDate|date("Y-m-d H:i:s") }}</dd>
                                        <dt>Last login</dt>
                                        <dd>{{ user.lastLogin ? user.lastLogin|date("Y-m-d H:i:s") }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}