{% extends 'layout/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Users</h3>
                <a class="btn btn-default pull-right btn-new" href="{{ path('users-new') }}" role="button">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </div>

            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Nickname</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Role</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in pagination %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.id }}</td>
                                <td>{{ user.nickname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.gender | genderName }}</td>
                                <td>{{ user.roles | first | lower | replace({'_': ' '}) | title }}</td>
                                <td>{{ user.country.name | default('-') }}</td>
                                <td>
                                    <a class="btn btn-default show-btn" href="{{ path('users-detail', {'id': user.id}) }}">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                    <a class="btn btn-primary edit-btn" href="{{ path('users-new', {'id': user.id}) }}">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a class="btn btn-primary delete-btn" href="{{ path('users-delete', {'id': user.id}) }}"
                                       onclick="return confirm('Are you sure?')">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'CoreBundle:includes:pagination.html.twig' %}
            <!-- /.box-body -->
        </div>
    </div>

{% endblock %}