{% extends 'layout/admin.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('dashboard') }}"><b>Symfony</b> CORE</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Log in</p>

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group has-feedback">
                    <input type="text" name="_username" class="form-control" placeholder="{{ 'profile.show.email' | trans }}" value="{{ last_username }}">
                    <i class="fa fa-user form-control-feedback" aria-hidden="true"></i>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="_password" class="form-control" placeholder="{{ 'security.login.password' | trans }}">
                    <i class="fa fa-lock form-control-feedback" aria-hidden="true"></i>
                </div>
                <div class="help-block">
                    {% if error %}
                        <div>{{ error.messageKey | trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="_remember_me"> {{ 'security.login.remember_me' | trans }}
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit' | trans }}</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock content %}
